*{
  background-color: #3f3f41;
}

.Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button{
  color: black;
  appearance: none;
  text-decoration: none;
}










